:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}
.sidebar-nav {
    width: var(--offcanvas-width);
    overflow-y: scroll;
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon{
    display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
    transition: all ease 0.25s;
}
@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none !important;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    .ques_det{
        position: fixed;
        max-width: 14%;
    }
    
}
.profilePic{
    border-radius: 10px;
}
@media screen and (max-width: 480px) {
    .myAccount {
        width: 50% !important;
        
        /* background-color: black; */
    }
    .profilePic{
        width: 150px !important;
        height: 150px !important;
        /* margin-left: 10px !important; */
    }
}